a{
	cursor: pointer;
}

#tablaCalend{
	margin-top: -10px;
	background: #EEE;
	font-size:11px;
	text-align: center;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 2px 5px #000;
	width: 100%;
}

.calendDom{
	color: red !important;
	font-weight: bold;
}

.calendFecha{
	background: red !important;
	color: white;
}

.calendDias{
	color: red !important;
	font-weight: bold;
}

.flechas{
	cursor: pointer;
}

#prev {cursor:pointer;}
#prox {cursor:pointer;}

.infoCalendario{
	font-size: .8em;
}

.tooltipCont {
background: #FFF;
padding: 0 23px 6px 6px;
width: auto;
position: absolute;
font-size: 1.3em;
font-weight: bold;
color: #303841;
display: none;
z-index: 9999;
border: 1px solid #BBB;
border-radius: 5px;
-webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.21);
-moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.21);
box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.21);
}

.tooltipCont .zona {
display: block;
font-size: .8em;
padding: 4px 0px;
color: #5E5C5C;
}

.tooltipCont .toolmuni {
font-family: \'Trebuchet Ms\';
}
