/*
 * Table
 */
table.dataTable {
	margin: 0 auto;
	clear: both;
	width: 100%;
	font-size: 11px !important;
}

table.dataTable thead th {
	padding: 3px 18px 10px 10px;
	font-weight: bold;
	cursor: pointer;
	*cursor: hand;
}

table.dataTable tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.dataTable td {
	padding: 3px 10px;
}

table.dataTable td.center,
table.dataTable td.dataTables_empty {
	text-align: center;
}

table.dataTable tr.odd, table.dataTable tr.odd td { background-color: #efefff ;}
table.dataTable tr.even, table.dataTable tr.even td { background-color: #FFF; }


table.dataTable tr.odd td.sorting_1 { background-color: #d5dfff  !important; }
table.dataTable tr.odd td.sorting_2 { background-color: #DADCFF !important; }
table.dataTable tr.odd td.sorting_3 { background-color: #E0E2FF !important; }
table.dataTable tr.even td.sorting_1 { background-color: #f3f3ff  !important; }
table.dataTable tr.even td.sorting_2 { background-color: #F2F3FF !important; }
table.dataTable tr.even td.sorting_3 { background-color: #F9F9FF !important; }



/*
 * Table information
 */
.dataTables_info {
	clear: both;
	float: left;
	color: #777;
	font-size: 11px;
}


/*
 * Pagination
 */
.dataTables_paginate {
	float: right;
	text-align: right;
}

/* Two button pagination - previous / next */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
	font-size: 11px;
}
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
	text-decoration: none !important;

}
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous,
.paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next,
.paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}
.paginate_enabled_previous { background: url('../images/back_enabled.png') no-repeat top left; }
.paginate_enabled_previous:hover { background: url('../images/back_enabled_hover.png') no-repeat top left; }
.paginate_disabled_previous { background: url('../images/back_disabled.png') no-repeat top left; cursor: default; *cursor: default;}

.paginate_enabled_next { background: url('../images/forward_enabled.png') no-repeat top right; }
.paginate_enabled_next:hover { background: url('../images/forward_enabled_hover.png') no-repeat top right; }
.paginate_disabled_next { background: url('../images/forward_disabled.png') no-repeat top right; cursor: default; *cursor: default;}


/*
 * Sorting
 */
.sorting { background: url('../images/sort_both.png') no-repeat center left; padding-left:20px !important; cursor: pointer;}
.sorting_asc { background: url('../images/sort_asc.png') no-repeat center left; padding-left:20px !important; cursor: pointer;}
.sorting_desc { background: url('../images/sort_desc.png') no-repeat center left; padding-left:20px !important; cursor: pointer;}

.sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center left; }
.sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center left; }
 
table.dataTable thead th:active,
table.dataTable thead td:active {
	outline: none;
}


/*
 * Page length menu
 */
.dataTables_length label{
	float: left;	
	font-size: 12px !important;
	padding-top: 20px;
	padding-bottom: 10px;
}


/*
 * Filter
 */
.dataTables_filter label{
	padding-top: 20px;
	padding-bottom: 10px;
	float: right;
	text-align: right;
	font-size: 12px !important;
}


/*
 * Scrolling
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}
