/* Tiny Carousel */
#slider1 { height: 1%; margin: 30px 0 0; overflow: hidden; position: relative; padding: 0 60px 10px; }
#slider1 .viewport { height: 125px; overflow: hidden; position: relative; }
#slider1 .buttons {
    left: 0;
	background: #fff;
    color: #004694;
    font-size: 60pt;
    height: 100px;
    opacity: 0.4;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 60px;
}
#slider1 .next {
    right: 0;
    left: auto;    
}
#slider1 .buttons:hover {
    color: #fff;
    background: #004694;
	opacity: 1;
}
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 100%; left: 0; top: 0; }
#slider1 .overview li { float: left; margin: 0 20px 0 0; padding: 1px; height: 121px; border: 1px solid #dcdcdc; width: 236px; }
#slider1 .overview li img { height: 100%; width: 100%;}
