	/*menuNav*/
	.nav span {
	    display: none;
	}
	.nav, .nav ul {
	    list-style: none outside none;
	    margin: 0 !important;
	   	padding-left: 0;
	}
	.nav {
	    display: inline-block;
	    float: right;
		position: relative;
		z-index:3;
		font-family: 'MyriadPro'; 
		font-size: 14px;
		margin-right: 40px;
		height: 100%;
		font-family: "Roboto";
	}
	
	.nav > li {
	    float: left;
	    text-align: center;
	}
	
	.nav li:last-child{
		border-right: 0px solid  transparent;
	}
	
	.nav > li > a {
	    display: inline-block;	    
	    text-decoration: none;
	    color: #004694;
	    display: block;
		padding: 40px 10px;
	}
	
	.nav > li:hover > a, .nav > a:hover {
		color: #576101;
		background: #d1d151 !important;
	}
	
	.nav li.active > a {
	    background: #9D1C1C;
	    color: #FFF;
	}

	.nav ul.subs {
	    box-shadow: 0px 2px 5px rgba(1, 1, 1, 10);
	    color: #333;
	    display: none;
	    position: absolute;
	    top: 100%;
		padding-bottom: 5px;
		padding-top: 5px;
		font-size: 13px;
	}

	
/* submenu */
	.menuUp{
		height: 6px; 
		background: url('img/down.png');
		background-repeat: no-repeat;
		background-position: 10% 0;
		position: relative; 
		top: -10px;
	}
	.nav li:hover > ul.subs {
	    display: block;
		background: #ececec;
		border-top: 4px solid #00428d;
	}
	.nav ul.subs > li {
		display: block;
		padding: 5px 14px;
		text-align: left;
		vertical-align: top;
	}
	.nav ul.subs > li a {
	    color: #787878;
	}
	.nav ul li:hover{
		color: #576101;
		background: #d1d151 !important;
	}
	.nav ul li:hover>a, .nav ul li a:hover {
	    color: #576101;
	}
	.nav ul.subs > li > a {
	    font-size: 0.9em;
	    margin-bottom: 0px;
	}
	.nav ul.subs > li li {
	    float: none;
	    padding-left: 5px;
	}
	
	.subs ul.secSub {
	    box-shadow: 1px 1px 5px rgba(1, 1, 1, 10);
		background: #fff;
	    color: #333333;
	    display: none;
	    left: 100%;
	    padding: 5px !important;
	    position: absolute;
	    margin: -20px 0 0 0 !important;
	    width: 100%;
	}


	
/* segundo Submenu */
	.subs li:hover ul.secSub {
	    display: block;
	}
	.subs ul.secSub > li {
	    display: inline-block;
	    float: none;
	    vertical-align: top;
	    width: 98%;
	}
	.subs ul.secSub > li a {
	    color: #777;
	    line-height: 10px;
	}
	.subs ul.secSub li a:hover {
	    color: #fff;
	}
	.secSub li:hover{
	 	background: #9D1C1C;
	}
	.subs ul.secSub > li > a {
	    font-size: 0.9em;
	    margin-bottom: 10px;
	}
	.subs ul.secSub > li li {
	    float: none;
	    padding-left: 10px;
		font-size: 0.9em;
	    margin-bottom: 10px;
	}
	
	
	
	/**********************LATERALES*****************/
	
.lat span {
	    display: none;
}
.lat, .lat ul {
	padding: 0;
}
.lat {
	display: inline-block;
	position: relative;
}

.lat > li {
	list-style: none outside none;
	border-bottom: 5px solid transparent;
	/*float: left;*/
	margin-bottom: -5px;
	text-align: left;
	padding: 0 0 0 10px;
	
}
.lat li a {
	display: inline-block;
	text-decoration: none;
}
.lat > li > a {
	color: #9D1C1C;
	display: block;
}
.lat > li:hover > a, .lat > a:hover {
	text-decoration: underline;
	color: red;
}
.lat li.active > a {
	background: #9D1C1C;
	color: #FFF;
}

.lat ul.subs {
	color: #333;
	display: block;
	left: 0;
	position: relative;
	padding-left: 5px;
	width: 97%;
}

	
/* submenu */
.lat li:hover ul.subs {
	display:block;
}
.lat ul.subs > li {
	display: inline-block;
	float: none;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 100%;
}
.lat ul.subs > li a {
	color: #333;
	line-height: 0px;
	text-decoration: none;
}
.lat ul li a:hover {
   text-decoration: underline;
   color: #777;
}
.lat ul.subs li:hover{
   text-decoration: underline;
}
.lat ul.subs > li > a {
	font-size: 0.9em;
	margin-bottom: 0px;
}
.lat ul.subs > li li {
	float: none;
	padding-left: 5px;
}

.subs ul.secLat {
	box-shadow: 1px 1px 5px rgba(1, 1, 1, 10);
	color: #333333;
	display: none;
	left: 100%;
	padding: 5%;
	position: absolute;
	top: 55%;
	width: 80%;
}