/*h1{
    color: #ffffff;    
}*/

body{
/*	font-family: "century gothic" !important;*/
}

h2{
    color: #000000;    
}
p{    
    text-align: justify;
}
header{   
    color: #FFFFFF;
    /*background: url("../img/blanco.png");*/
	background-size: auto 100%;
	background-position: right;
	background-repeat:  no-repeat;
    background-color: #000000;
}

#cuerpo{
    background: #ffffff;    
    min-height: 400px;
    padding: 20px 20px 20px 50px;    
	/*background-image: url("../img/cuerpo.png");*/
	background-repeat: no-repeat;
	background-position: 50% 50%;
	overflow: auto;
}

footer{
	font-family: 'century gothic';
	font-size: 11px;
	overflow: auto;
	line-height: 20px;
        background-color: #000000;
	text-align: center;         /*para CENTRAR */ 
	color: #fff;
    /*-pie-background: url(bg-image.png) no-repeat, linear-gradient(#CCC, #EEE);*/
}

#developed{
	font-size:11px !important;
	font-weight: bold;
}

#developed a{
	text-decoration: underline;
	color: #fff;
}

/*
* Formularios
clase formOp para los formularios dentro de opencode cms
*/

.marcoForm {
max-width:585px;
padding: 0 10px;
width: auto;
/*border: 2px solid #593131;
border-radius: 10px;
color:#333333;
height:auto;
padding: 5px 0px 40px 90px;
width:400px;
cursor:pointer;
display:block;   
margin: 0 auto;
text-align:left;*/
}

.formOp legend {
color:#333333;
font-family:arial;
font-size:21px;
letter-spacing:-1px;
padding-bottom:20px;
padding-top:8px;
text-transform:capitalize;
}

.formOp fieldset input {
font-size:12px;
height:24px;
padding-bottom:0;
padding-left:5px;
padding-top:5px;
width:300px;
font-family:arial,sans-serif;
}

.formOp textarea.areadetexto {
background: #ffffff;
width: 454px;
height: 212px;
border:none !important;
padding-bottom:0;
padding-left:5px;
padding-top:5px;
color:#666666;
font-size:12px;
font-family:arial,sans-serif;
}

.formOp label {
display:block;
font-family:arial,sans-serif;
font-size:14px;
padding:10px 0 3px;
}

.formOp input.botonenviar {
display:block;
float: left;
font-family:arial,sans-serif;
height:30px;
margin-left:180px;
margin-top:20px;
text-align:center;
width:99px;
}

.formOp input.botoncancelar {
display:block;
float: left;
font-family:arial,sans-serif;
height:30px;
margin-top:20px;
text-align:center;
width:99px;
}


/**

* Menu de administracion

*/


	/* Panel de administracion para cada modulo */

	div.menuAdmin div{ width: 250px; float: left; color: #888888; margin: 0px 15px 15px 0px; height: 65px;}

	div.menuAdmin br{ clear: left; }

	div.menuAdmin div br{ clear: none; }

	div.menuAdmin div a{ text-decoration: none; font-weight: bold; }

	div.menuAdmin div a:hover{ text-decoration: underline; }

	div.menuAdmin div a img{ width: 48px; border: 0px; float: left; margin-right: 3px; }

	/*Panel de administracion para cada modulo*/
        
/*pestaña admin*/

.lateral {
    float:right;
	margin-right: 20px;
	margin-top: 20px;
}
.lateral a{
	float: left;
	margin-left: 10px;
	margin-top: 30px;
	font-family: century gothic;
	font-size: 11px;
	color: #fff;
	text-decoration: none;
}

.lateral a:visited, .lateral a:hover{	
	color: #fff;
	font-style: italic;
}

.lateral a img{
	vertical-align: text-bottom;
	margin-right: 4px;
}

/*
.lateral {
    float:right;
    width:450px;
    height:350px;   
    display:block;
    right: -400px;
    padding:0;
    position:fixed;
    top: 150px;
 
}
*/
/*fin pestaña*/