@media screen and (max-width: 500px){
	header{
		height: auto;
		background-image: none;
		overflow: auto;
		text-align: left;
	}
	
	header > h1{
		float: left;
		font-size: 1.5em;
		margin-left: 0;
	}
	
	.lateral{
		width: 100%;
	}
	
	.lateral a {
		color: #333;
		width: 100%;
		clear: both;
		float: right;
		font-family: century gothic;
		font-size: 11px;
		margin: 5px auto;
		text-decoration: none;
	}

	#menu{
		width: 100%;
	}
	#cuerpo{
		clear: both;
		width:100%;
		
	}
} /*@media*/